<!-- project contributors -->
<section class="OK-project-contributors clearfix">
    <ul class="list-inline list-unstyled OK-project-contributors-thumbs pull-left">
        <li><img src="images/person_thumb_40x40.png" class="img-circle" width="40" height="40" alt="Project contributor"><span class="glyphicon glyphicon-flag OK-project-leader-badge" title="Project leader"></span></li>
        <li><img src="images/person_thumb_40x40.png" class="img-circle" width="40" height="40" alt="Project contributor"></li>
        <li><img src="https://avatars3.githubusercontent.com/u/10410203?v=3&s=460" class="img-circle" width="40" height="40" alt="Project contributor"></li>
    </ul>

    <!-- number of contributors -->
    <span class="badge pull-left bg-semitransp">#</span>
</section>