<!-- code cards -->
<div class="row">
    <h2>Development</h2>  
    <div class="col-xs-12 col-sm-12 col-md-4 OK-project-definition-card OK-pdc-progress"> 
    	<span class="glyphicon glyphicon-tasks OK-pdcard-glyphicon OK-rotate-180-clockwise"></span>        
     	<h3>Progress</h3>
              <p><span class="OK-tag bg-gray">Definition</span> 
                  <span class="bg-white">research</span> 
                  <span class="bg-white">workflow</span>
                  <span class="bg-white">information architecture</span>
                  <span class="bg-white">wireframes</span> 
                  <span class="bg-yellow">visual design</span> 
                  <span class="bg-yellow">prototype</span> 
               </p>
               <p><span class="OK-tag bg-gray">Code</span> 
                  <span class="bg-yellow">{{project.techstack}}</span>  
               </p>
               <p><span class="OK-tag bg-gray">Data</span> 
                  <span class="bg-yellow">data entry</span> 
               </p>
               <p><span class="OK-tag bg-gray">Analysis</span> 
                  <span class="bg-yellow">usability</span> 
              </p>
              <hr>
              <p><span class="bg-white">done</span> <span class="bg-yellow">in the works</span></p>
<!-- project on hold banner (hidden for active projects
		<p class="OK-project-onhold-message">On Hold<br>
		Reason: to demonstrate On Hold banner</p> 
 --> 
    </div>    
    
    <div class="col-xs-12 col-sm-12 col-md-4 OK-project-definition-card OK-pdc-help"> 
    	<span class="glyphicon glyphicon-fire OK-pdcard-glyphicon"></span>        
     	<h3>Help Wanted</h3>
        <div ng-include="'views/project/issues.html'"></div>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-4 OK-project-definition-card OK-pdc-code"> 
    	<span class="glyphicon  OK-pdcard-glyphicon">&lt;/&gt;</span>        
     	<h3>Code used so far</h3>
        <p>{{project.techstack}}</p>
    </div>    
</div>