<div class="container OK-project idea">
    <!-- project contributor -->
    <div class="row">
        <section class="OK-project-suggester clearfix"> 
            Suggested by <span>{{project.suggester}}</span>
        </section>          
    </div>
    <article class="OK-project">
        <div ng-include="'views/project/info.html'"></div>
        <ul class="list-unstyled OK-btn-edit-project">
            <li><a href="https://docs.google.com/forms/d/1H62GmD35j1kwHYcX7r8jT8Gwj3dm8d-SZBVV_H9oz9s/viewform">Edit Idea Description</a></li>
        </ul>
    </article>
</div>