<article ng-controller="ProjectController" class="OK-project">
    <div ng-include="'views/project/preview.html'"></div>
    <div class="container">
      <div class="row">
        <div ng-include="'views/project/socialbadges.html'"></div>
      </div>
    </div>    
    <div class="container">
      <div class="row">
        <div ng-include="'views/project/contributors.html'"></div>
      </div>
    </div>  
    <div class="container">
        <div ng-include="'views/project/info.html'"></div>
        <div ng-include="'views/project/development.html'"></div>
    </div>
    <ul class="list-unstyled OK-btn-edit-project">
       <li><a href="https://docs.google.com/forms/d/1e1Ne69Dw7Pooicb9dTOEH49KvjQv1_x2F9q8tr27loI/viewform">Edit Project Description</a></li>
    </ul>
</article>