<!-- project card example: Projects Hub -->     
        <div class="col-xs-12 col-sm-6 col-md-4">            
          <article class="OK-project-card clearfix">
            <section class="OK-project-card-head" style="background:url('https://cloud.githubusercontent.com/assets/10410203/6722567/201f8f32-cdaa-11e4-9fc4-01b66f0d1a95.png'); background-size: cover; background-position:top center;"> 
<!-- list of deployed cities, or country, or global. examples: Kansas City, San Francisco, USA, Global -->
              <ul class="list-inline list-unstyled text-center clearfix">
                <li>Kansas City</li>
              </ul>
            </section>
<!-- project description -->           
            <section class="OK-project-description">
<!-- project title -->
            <h4>Code for America Projects Hub<br>
			<small>and where you can help</small></h4>
<!-- project civic category .bg-civic or .bg-CfA -->
            <p class="OK-project-category OK-tag bg-CfA">Code for America Brigade Tool</p>
<!-- project goals -->
            <p class="OK-project-goals">To help brigade members to find projects to work on. Multi-brigade collaboration. New members onboarding. Let public contribute ideas. Karma. Code for America scope view. Provide filtered and sorted card list of projects and ideas for development. The list should be available nation-wide and by city. 
            </p>
            <p class="OK-link-view-project"><a href="CfAprojectPage.htm">view project details</a></p>    
            </section>
<!-- project social badges -->
            <section class="OK-project-badges small clearfix">
              <ul class="list-inline list-unstyled clearfix">
                <li title="Project stars on GitHub"><span class="glyphicon glyphicon-star OK-star-gold"></span><span class="badge OK-badge-inverse">2</span></li>
                <li title="Project followers on GitHub"><span class="glyphicon glyphicon-eye-open"></span><span class="badge OK-badge-inverse">8</span></li>
                <li><a href="https://github.com/codeforkansascity/Code-for-America-Projects-Hub/issues/21" title="View project comments"><span class="glyphicon glyphicon-comment"></span></a><span class="badge OK-badge-inverse">1</span></li>
                <li><span class="glyphicon glyphicon-hand-up" title="Project requested by civic organization"></span></li>
                <li><span class="glyphicon glyphicon-ok" title="Project validated by research"></span></li>
              </ul>
            </section>          
<!-- project technics and where help is needed -->
            <section class="OK-project-data small"> <a class="pull-right btn-link" href="http://codeforkc.org/Code-for-America-Projects-Hub/prototype/CfAprojectPage.htm">Prototype</a>
              <p class="OK-tag bg-gray" title="Platform">Web App</p>
              <p title="Build"><span class="OK-tag bg-gray">&lt;/&gt;</span> HTML, CSS </p>
              <span title="Help wanted" class="OK-tag bg-darkyellow">Help Wanted:</span>
              <section class="OK-help-wanted">
        <p><a title="View issue on GitHub" href="https://github.com/codeforkansascity/Code-for-America-Projects-Hub/issues/17">Projects Hub filter. Where does the data come from?</a></p>
        <p><a title="View issue on GitHub" href="https://github.com/codeforkansascity/Code-for-America-Projects-Hub/issues/16">Script to display entered project data from Google spreadsheet in Google form to edit the data</a></p>
        <p><a title="View issue on GitHub" href="https://github.com/codeforkansascity/Code-for-America-Projects-Hub/issues/11">Add infinite scroll to the hub</a></p>
        <p><a title="View issue on GitHub" href="https://github.com/codeforkansascity/Code-for-America-Projects-Hub/issues/7">Usability evaluation</a></p>
        <p><a title="View issue on GitHub" href="https://github.com/codeforkansascity/Code-for-America-Projects-Hub/issues/8">Custom labels for repo issues</a></p>
        <p><a title="View issue on GitHub" href="https://github.com/codeforkansascity/Code-for-America-Projects-Hub/issues/9">Project card data. Where does the data come from?</a></p>
        <p><a title="View issue on GitHub" href="https://github.com/codeforkansascity/Code-for-America-Projects-Hub/issues/6">Coding projects filter</a></p>
        <p><a title="View issue on GitHub" href="https://github.com/codeforkansascity/Code-for-America-Projects-Hub/issues/4">Map geolocation filter</a></p>              
               </section>
            </section>          

<!-- project on hold banner (hidden for active projects 
<p class="OK-project-onhold-message">On Hold<br>
Reason: ...</p>  --> 
           
<!-- project contributors -->
            <section class="OK-project-contributors clearfix"> 
              <a href="https://github.com/codeforkansascity/Code-for-America-Projects-Hub/graphs/contributors" title="Project contributors">
              <ul class="list-inline list-unstyled OK-project-contributors-thumbs pull-left">
              <li><img src="https://avatars2.githubusercontent.com/u/10410203?v=3&s=460" class="img-circle" width="40" height="40" alt="Project contributor"><span class="glyphicon glyphicon-flag OK-project-leader-badge" title="Project leader"></span></li>
              <li><img src="https://avatars1.githubusercontent.com/u/447024?v=3&s=460" class="img-circle" width="40" height="40" alt="Project contributor"></li>
              <li><img src="https://avatars1.githubusercontent.com/u/212227?v=3&s=460" class="img-circle" width="40" height="40" alt="Project contributor"></li>
              <li><img src="https://avatars3.githubusercontent.com/u/3280502?v=3&s=460" class="img-circle" width="40" height="40" alt="Project contributor"></li>
              <li><img src="https://avatars0.githubusercontent.com/u/2244915?v=3&s=460" class="img-circle" width="40" height="40" alt="Project contributor"></li>
              </ul>
              </a>
              <span class="badge bg-semitransp pull-left">5</span>        
            </section>
          </article>
        </div>































<!-- idea card -->        
        <div class="col-xs-12 col-sm-6 col-md-4">
          <article class="OK-project-card OK-project-card-prototype OK-project-card-idea clearfix">
            <section class="OK-project-card-head"> 
<!-- list of deployed cities, or country, or global. examples: Kansas City, San Francisco, USA, Global -->
              <ul class="list-inline list-unstyled text-center clearfix">
                <li>project city</li>
              </ul>
            </section>        
<!-- project description -->           
            <section class="OK-project-description">
<!-- idea title -->
             <h4>Project Idea Title<br>
			<small>Project idea subtitle</small></h4>
<!-- idea civic category .bg-civic or .bg-CfA -->
             <p class="OK-project-category OK-tag bg-civic">Civic category</p>
<!-- project goals -->
             <p class="OK-project-goals">Project goals.</p>
             <p class="OK-link-view-project"><a href="CfAideaPage.htm">view idea details</a></p>
             <p class="small">Suggested by Jane Doe</p>   
            </section>                    
          </article>
      </div>