<!-- project social badges -->
        <section class="OK-project-badges clearfix">
            <ul class="list-inline list-unstyled clearfix">
                <li title="Project stars on GitHub"><span class="glyphicon glyphicon-star OK-star-gold"></span> <span class="OK-hide-in-hub-layout">Starred by</span> <span class="badge OK-badge-inverse">{{project.stars}}</span></li>
                <li title="Project followers on GitHub"><span class="glyphicon glyphicon-eye-open"></span> <span class="OK-hide-in-hub-layout">Watched by</span> <span class="badge OK-badge-inverse">{{project.followers}}</span></li>
                <li><a hrer="https://github.com/codeforkansascity/Code-for-America-Projects-Hub/issues/21" title="View project's comments"><span class="glyphicon glyphicon-comment"></span></a><span class="badge OK-badge-inverse">{{project.comments}}</span></li>
                <li><span class="glyphicon glyphicon-hand-up" title="Project requested by civic organization"></span><span class="OK-hide-in-hub-layout">Requested by Code for America brigade</span></li>
                <li><span class="glyphicon glyphicon-ok" title="Project validated by research"></span> <span class="OK-hide-in-hub-layout">Validated by user research</span></li>
            </ul>
        </section>     