<!-- project social badges -->
<div class="container OK-project-badges">
    <div class="row">
        <section class="clearfix">
            <ul class="list-inline list-unstyled clearfix">
                <li title="Project stars on GitHub"><span class="glyphicon glyphicon-star OK-star-gold"></span> Starred by <span class="badge OK-badge-inverse">{{card.stars}}</span></li>
                <li title="Project followers on GitHub"><span class="glyphicon glyphicon-eye-open"></span> Watched by <span class="badge OK-badge-inverse">{{card.followers}}</span></li>
                <li><a hrer="https://github.com/codeforkansascity/Code-for-America-Projects-Hub/issues/21" title="View project's comments"><span class="glyphicon glyphicon-comment"></span></a><span class="badge OK-badge-inverse">{{card.comments}}</li>
                <li><span class="glyphicon glyphicon-hand-up" title="Project requested by civic organization"></span></a> Requested by Code for America brigade</li>
                <li><span class="glyphicon glyphicon-ok" title="Project validated by research"></span> Validated by user research</li>
           </ul>
        </section>     
    </div>
</div>