<!-- project technology and where help is needed -->
<section class="OK-project-data small">
    <a class="pull-right btn-link disabled">{{project.active}}</a>
    <p class="OK-tag bg-gray">{{project.platform}}</p>
    <p title="Technology stack">
        <span class="OK-tag bg-gray">&lt;/&gt;</span>
        {{project.techstack}}
    </p>
    <span title="Help needed" class="OK-tag bg-darkyellow">Help Wanted:</span> 
    <section class="OK-help-wanted">
        <div ng-include="'views/project/issues.html'"></div>
    </section>
</section>