<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3 col-lg-2"> 
        <img class="OK-logo" src="images/CfA_logo_132x53.png" width="132" height="53" alt="Code for America ">
      </div>
      <div class="col-xs-9 col-lg-6"> 
        <h1>Projects Hub <br />
        <small>and where you can help</small> 
      </h1>    
      </div> 
    </div>
  </div>
</header>

<div class="container-fluid"> 
	<div class="row">   
    	<div class="col-xs-12 OK-banner">
        <span class="OK-banner-message">select a project to work on</span>
        <span class="pull-right"><span class="OK-banner-message">or</span> 
        <a href="https://docs.google.com/forms/d/1H62GmD35j1kwHYcX7r8jT8Gwj3dm8d-SZBVV_H9oz9s/viewform"><span class="glyphicon glyphicon-plus-sign"></span> add your civic idea to code</a></span>
        </div>
    </div>
</div>


<!-- map and filters container  -->
<div class="container-fluid"> 
    <div class="row">
        <div ng-include="'views/mapFilter.html'"></div>
    </div>
</div>

<!-- map sort and breadcrumb container  -->
<div class="container-fluid"> 
    <div class="row"> 
        <div ng-include="'views/mapSort.html'"></div>
    </div>
</div>

<!-- main content -->    
<div class="container-fluid"> 
    <div class="row">
        <div ng-controller="projectCardCtrl" ng-include="'views/projectCard.html'"></div>
    </div>
</div>