<ul>
	    <li><a href="#/cfa">CFA API</a></li>
        <li><a href="#/git">Github API</a></li>
        <li><a href="#/googleprojects">Google Sheet Projects API</a></li>
        <li><a href="#/googleprojectideas">Google Sheet Project Ideas API</a></li>
</ul>
<button type="button" ng-click="getItems()">View {{app_location_path | uppercase}} data</button>
<h2>Fields</h2>
<label>Search: <input ng-model="searchText"></label>
<div id="searchTextResults">
	<span ng-repeat="item in items | filter:searchText">
		<ul>
      <li ng-repeat="(key, value) in item"> {{key}}: {{value}}</li>
    </ul>
  </span>
</div>
<h2>Raw data (all items)</h2>
{{items}}