<!-- project social badges -->
        <section class="OK-project-badges clearfix">
            <ul class="list-inline list-unstyled clearfix">
                <li title="Project stars on GitHub"><span class="glyphicon glyphicon-star OK-star-gold"></span> <span class="OK-hide-in-hub-layout">Starred by</span> <span class="badge OK-badge-inverse">{{project.stargazers_count}}</span></li>
                <li title="Project followers on GitHub"><span class="glyphicon glyphicon-eye-open"></span> <span class="OK-hide-in-hub-layout">Watched by</span> <span class="badge OK-badge-inverse">{{project.watchers}}</span></li>
                <li ng-if="project.civic.trim()"><span class="glyphicon glyphicon-hand-up" title="Requested by {{project.civic}}"></span><span class="OK-hide-in-hub-layout">Requested by {{project.civic}}</span></li>
                <li ng-if="project.target_audience.trim() || project.user_stories.trim() || project.maintainence_plan.trim() || project.potential_blockers.trim() "><span class="glyphicon glyphicon-ok" title="Project validated by research"></span> <span class="OK-hide-in-hub-layout">Validated by user research</span></li>
            </ul>
        </section>     