.OK-hub-wrapper .OK-project{
	background:#fbfbfb;
        margin-bottom:20px;
}

.OK-hub-wrapper .OK-project .OK-project-card-head {
	margin:15px 15px 0;
}
.OK-hub-wrapper .OK-logo {
	margin-top:18px;
}
.OK-hub-wrapper .OK-banner {
	padding:0;
	height:40px;
	text-align:center;
	vertical-align:middle;
	line-height:2;
	font-size:18px;
	color:#ccc;
	background:#777;
}

.OK-hub-wrapper .OK-banner span.OK-banner-message {
	display:inline-block;
	margin:0;
	padding:3px 15px 0px;
	height:40px;
	vertical-align:middle;
	line-height:2;
	letter-spacing:.1em;
}
.OK-hub-wrapper .OK-banner a {
	display:inline-block;
	margin:0;
	padding:3px 15px 0px;
	height:40px;
	vertical-align:middle;
	line-height:2;
	color:#777;
	background:#ccc;
}
.OK-hub-wrapper .OK-banner a:hover {
	text-decoration:none;
	background: #EBEBEB;
}


/* project contributors */
.OK-hub-wrapper .OK-project .OK-project-contributors {
	background:#ce263f;
}
.OK-hub-wrapper .OK-project .OK-project-contributors-thumbs {
	position:relative;
	padding:10px 0 0 10px;
	width:90%;
	height:50px; 
	overflow:hidden;
}
.OK-hub-wrapper .OK-project .OK-project-contributors-thumbs .OK-project-leader-badge {
	position:absolute;
	top:35px;
	left:40px;
	padding:3px 2px 3px 4px;
	border-radius:10px;
	font-size:9px;
	color:#fff;
	background:#ce263f;
	cursor:default;
}
/* number of contributors */
.OK-hub-wrapper .OK-project .OK-project-contributors .badge {
	margin-top:20px;
}