.OK-hub-wrapper .OK-project .OK-logo {
	margin-top:49px;
}
.OK-hub-wrapper .OK-project .OK-banner {
	padding:0;
	height:40px;
	text-align:center;
	vertical-align:middle;
	line-height:2;
	font-size:18px;
	color:#ccc;
	background:#777;
}

.OK-hub-wrapper .OK-banner span.OK-banner-message {
	display:inline-block;
	margin:0;
	padding:3px 15px 0px;
	height:40px;
	vertical-align:middle;
	line-height:2;
	letter-spacing:.1em;
}
.OK-hub-wrapper .OK-banner a {
	display:inline-block;
	margin:0;
	padding:3px 15px 0px;
	height:40px;
	vertical-align:middle;
	line-height:2;
	color:#777;
	background:#ccc;
}
.OK-hub-wrapper .OK-banner a:hover {
	text-decoration:none;
	background: #EBEBEB;
}