/*
    Base Layout
*/
.OK-project h1 {
	margin-top:.3em;
}
.OK-project h2 {
	margin:0;
	padding:32px 20px;
	letter-spacing:.05em;
	font-weight:bold;
	color:#fff;
	background: rgba(0,0,0,.8)
} 
.OK-project header, .OK-project footer {
	padding:50px 0;
}
/*
    logo
*/
.OK-project-page-wrapper .OK-logo {
    margin-top:19px;
}
.OK-project .badge, .OK-project .OK-tag {
	cursor:default;
} 
.OK-no-padding { /* remove padding from Bootstrap column */
	padding:0;
}
/*
    Edit Project Btn
*/
.OK-project .OK-btn-edit-project {
	position:fixed;
	bottom:20px;
	right:10px; 
	z-index:10;
}
.OK-project .OK-btn-edit-project a {
	padding:10px 15px;
	border-radius:30px;
	text-decoration:none;
	color:rgba(0,0,0,.7);
	background:rgba(255,255,255,.7);
}
.OK-project .OK-btn-edit-project a:hover {
	color:#000;
	background:rgba(255,255,255,.9);
}

/* page title */
.OK-project .OK-project-tag {
	display:block;
	margin-top:4px;
	font-size:24px;
	letter-spacing:.05em;
	color:#777;
}
.OK-project header .OK-tag {
	margin:8px 8px 0 0;
  	padding: 4px 15px;
  	font-size: 14px;
  	border-radius: 20px;
}

/* project badges */
.OK-project .OK-project-badges {
	padding:8px 8px 0;
	border-radius:0;
	background: rgba(0,0,0,.8)
} 
.OK-project .OK-project-badges .badge {
	font-size:12px;
}
.OK-project .OK-project-badges .glyphicon {
	vertical-align: baseline;
}
/* grid for project definition cards */
.OK-project .OK-project-definition-card {
	color:rgba(255,255,255,.85);
}
@media (min-width: 768px) {
	.OK-project .OK-project-definition-card {
		height:350px;
		overflow-y:auto;
}
} 
@media (min-width: 992px) {
	.OK-project .OK-project-definition-card-tall,
        .OK-project .OK-pdc-progress,
        .OK-project .OK-pdc-help,
        .OK-project .OK-pdc-code {
		height:700px;
	}
}
/* links in the pd card */
.OK-project .OK-project-definition-card a {
	text-decoration:none;
	border-bottom:1px dotted rgba(255,255,255,.9);
	color:rgba(255,255,255,.9);
}
.OK-project .OK-project-definition-card a:hover {
	text-decoration:none;
	border-bottom:1px dotted rgba(255,255,255,1);
	color:rgba(255,255,255,1);
}
.OK-project .OK-pdc-help a {
	text-decoration:none;
	border-bottom:1px dotted rgba(0,0,0,.5);
	color:rgba(0,0,0,.8);
}
.OK-project .OK-pdc-help a:hover {
	text-decoration:none;
	border-bottom:1px solid rgba(0,0,0,.4);
	color:rgba(0,0,0,1);
}
/* project definition card bkg */
.OK-project .OK-pdc-goals {
	background:#cf1b41;
}
.OK-project .OK-pdc-audience {
	background:#399fd3;
}
.OK-project .OK-pdc-story {
	background:#e87d2b;
}
.OK-project .OK-pdc-maintenance {
	background:#69579C;
}
.OK-project .OK-pdc-blockers {
	background:#aa1c3a;
}
.OK-project .OK-pdc-progress {
	color:rgba(0,0,0,.8);
	background:#6D6E71;
}
.OK-project .OK-pdc-help {
	color:rgba(0,0,0,.8);
	background:#FC6;
}
.OK-project .OK-pdc-code {
	background:#444;
}
/* project definition card icon */
.OK-project .OK-pdcard-glyphicon {
	display:block;
	text-align:center;
	width:80px;
	margin:0 auto 20px;
	padding:20px 20px;
	font-size:36px;
	color: #F3F3F3;
	background:rgba(0,0,0,.7);
}
.OK-project .OK-pdc-help .OK-pdcard-glyphicon {
	background:rgba(0,0,0,.77);
}
.OK-project .OK-pdc-goals .OK-pdcard-glyphicon {
	color:#cf1b41;
}
.OK-project .OK-pdc-audience .OK-pdcard-glyphicon {
	color:#399fd3;
}
.OK-project .OK-pdc-story .OK-pdcard-glyphicon {
	color:#e87d2b;
}
.OK-project .OK-pdc-maintenance .OK-pdcard-glyphicon {
	color:#69579C;
}
.OK-project .OK-pdc-blockers .OK-pdcard-glyphicon {
	color:#aa1c3a;
}
.OK-project .OK-pdc-progress .OK-pdcard-glyphicon {
	color:#6D6E71;
}
.OK-project .OK-pdc-help .OK-pdcard-glyphicon {
	color:#ff2352;
}
.OK-project .OK-pdc-code  .OK-pdcard-glyphicon {
	color:#444;
}
/* project definition card title */
.OK-project .OK-project-definition-card h3 {
	padding-top:20px;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	color:rgba(255,255,255,.9);
}
.OK-project .OK-pdc-help h3 {
	color:rgba(0,0,0,.7);
}
/* project definition card text */
.OK-project .OK-project-definition-card h3 + p {
	padding-top:20px;
}
.OK-project .OK-project-definition-card p {
	padding:8px 15px 0;
	font-size:1.2em;
}
.OK-project .OK-pdc-progress .OK-tag {
	font-size:1em;	
	background:#444;
}
.OK-project .OK-pdc-progress p span {
	white-space:nowrap;
}


/* view project details link */
.OK-project .OK-link-view-project {
	padding:8px 8px 0;	
}
.OK-project .OK-link-view-project a {
  	display: inline-block;	
	padding: 3px 0;
	line-height: 1;
  	vertical-align: baseline;
 	-webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.OK-project:hover .OK-link-view-project a {
  	display: inline-block;	
  	padding: 3px 7px;
  	line-height: 1;
  	text-align: center;
  	text-decoration:none;
  	white-space: nowrap;
  	vertical-align: baseline;
  	border-radius: 10px;
	color: #fff;
	background-color:#337ab7;	
}

/* project card  */
.OK-project {
	position:relative;
	width:100%;
	padding:0;
	background-color:#D2D6E3;
    -webkit-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
/* idea card */
.OK-project.idea {
	background-color:#fbfbfb;
    -webkit-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
.OK-project.idea:hover {
	background-color:#fff;
}
.OK-project.idea .OK-project-goals {
	text-align:left;
}
/* project card head */
.OK-project .OK-project-card-head {
	position:relative;
	height:150px;
	margin:0px 0px 0px;
	padding:8px;
        background-position:top center;
        background-size: cover;
}
/* idea card head image */
.OK-project.idea .OK-project-card-head {
    background-repeat: no-repeat;  
    background-position:center center;
    background-size: initial;
}
/* project cities */
.OK-project .OK-project-card-head ul {
    position:absolute;
    bottom:-14px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.OK-project .OK-project-card-head ul li {
	font-size:12px;
	font-weight:bold;
	color:#fff;
 	background:rgba(0,0,0,.5); 
}
/* project description section  */
.OK-project .OK-project-description {
	padding:15px 25px;
	text-align:center;
}
/* project title  */
.OK-project h4 {
	padding:15px 8px 0;
	line-height:1.3em;
	font-weight:bold;
	color:#444;
}
/* project category */
.OK-project .OK-project-category {
	margin-left:8px;
}
/* project goals description */
.OK-project .OK-project-goals {
	display:block;
	max-height:78px;
	overflow:hidden;
	margin-bottom:0;
	padding:0 8px;
	border-bottom:1px solid rgba(0,0,0,.2);
	text-align:left;
	line-height:1.2em;
}
/* project badges */
.OK-project .OK-project-badges {
	padding:4px 25px 0;
	font-weight:bold;
	text-align:center;
	color: #F3F3F3;
	background:#777;
} 
.OK-project .OK-project-badges .badge {
	font-size:10px;
	color:#777;
	background:#F3F3F3;	
}
.OK-project .OK-project-badges .glyphicon {
	padding:3px 3px 0 15px !important;
	vertical-align:text-top;
	cursor:default;
}
.OK-project .OK-project-badges .glyphicon:first-child {
	padding-left:4px;
}
.OK-project .OK-project-badges .glyphicon-ok, .OK-project-badges .glyphicon-hand-up {
	padding-left:5px;
}
.OK-project .OK-star-gold {
	color: #F90;
}
.OK-project .OK-project-badges .glyphicon-comment {
	cursor:pointer;
}
/* project code, help and progress */
.OK-project .OK-project-data {
	padding:25px 25px 15px;
	color:rgba(0,0,0,.8);
	background:#FC6;
}
.OK-project .OK-project-data a {
	border-bottom:1px dotted rgba(0,0,0,.5);
	color:rgba(0,0,0,.8);
}
.OK-project .OK-project-data a:hover {
	text-decoration:none;
	border-bottom:1px solid rgba(0,0,0,.4);
	color:rgba(0,0,0,1);
}
.OK-project .OK-project-data a.disabled {
	border-bottom:none;
	color:rgba(0,0,0,.6);
}
.OK-project .OK-project-data a.disabled:hover {
	text-decoration:none;
	border-bottom:none;
	color:rgba(0,0,0,.6);
}
.OK-project .OK-help-wanted {
	padding:0 0 0 8px;  
}
.OK-project .OK-help-wanted p {
	margin:5px 0 0;
	line-height:1.2em;
}
.OK-project .OK-project-data p:last-child {
	margin-bottom:0;
}
.OK-project .OK-project-onhold-message {
	display:block;
	text-align:center;
	font-weight:bold;
	color:#fff;
	background:#777;
}

/* project contributors */
.OK-project .OK-project-suggester {
	color:rgba(255,255,255,1);
	font-size:14px;
	font-weight:bold; 
	padding:20px 20px;
	background:#777;
}