/* utility styles */
.OK-rotate-270-clockwise {
    transform: rotate(270deg);
	-ms-transform: rotate(270deg); 
    -webkit-transform: rotate(270deg); 
}
.OK-rotate-180-clockwise {
    transform: rotate(180deg);
	-ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg); 
}