<ul class="list-unstyled OK-btn-edit-project">
   <li><a href="https://docs.google.com/forms/d/1e1Ne69Dw7Pooicb9dTOEH49KvjQv1_x2F9q8tr27loI/viewform">Edit Project Description</a></li>
</ul>
<header class="container">
    <div class="row">
      <div class="col-xs-3 col-lg-2"> 
        <img class="OK-logo" src="images/CfA_logo_132x53.png" width="132" height="53" alt="Code for America ">
        <br/><br/>
        <button type="button" onClick="location.href='index.html'" class="btn btn-primary btn-xs">Back to Projects Hub</button>
      </div>
      <div class="col-xs-9 col-lg-6"> 
		<span class="OK-project-tag">project:</span>
        <h1>Community KC<br />
        <small>Map of projects funded by Community Capital Fund</small> 
        </h1>		   
        <ul class="list-inline list-unstyled">
<!-- project metadata -->        
          <li class="OK-tag bg-civic" title="Civic category">Community</li>
          <li class="OK-tag bg-gray" title="Platform">Web App</li>
          <li class="OK-tag bg-lightgray" title="Link to online product">Online: <a href="http://communitykc.org/">communitykc.org</a></li>
        </ul>  
      </div>
    </div>
</header> 

<!-- project cover image -->  
<section class="OK-project-page-cover-img" style="background:url(https://cloud.githubusercontent.com/assets/10410203/6737038/e8328f74-ce36-11e4-8556-e42a534bb888.png); background-size: cover;
background-position:top center;">
<!-- list of deployed cities, or country, or global. examples: Kansas City, San Francisco, USA, Global -->
    <ul class="list-inline list-unstyled text-center">
        <li>Developed in:</li>
        <li>Kansas City</li>
    </ul>	
</section>


<!-- project social badges -->
<div class="container">
    <div class="row">
        <section class="OK-project-badges clearfix">
           <ul class="list-inline list-unstyled clearfix">
              <li title="Project stars on GitHub"><span class="glyphicon glyphicon-star OK-star-gold"></span> Starred by <span class="badge OK-badge-inverse">1</span></li>
              <li title="Project followers on GitHub"><span class="glyphicon glyphicon-eye-open"></span> Watched by <span class="badge OK-badge-inverse">7</span></li>
              <li><a hrer="" title="View project's comments"><span class="glyphicon glyphicon-comment"></span></a><span class="badge OK-badge-inverse">#</li>
              <li><span class="glyphicon glyphicon-hand-up" title="Project requested by civic organization"></span></a> Requested by Community Capital Fund</li>
              <li><span class="glyphicon glyphicon-ok" title="Project validated by research"></span> Validated by user research</li>
           </ul>
        </section>     
    </div>
</div>


<!-- project contributors -->
<div class="container">
    <div class="row">
        <section class="OK-project-contributors clearfix"> 
        <a href="https://github.com/codeforkansascity/civic-project-mapping/graphs/contributors" title="Project contributors">
           <ul class="list-inline list-unstyled OK-project-contributors-thumbs pull-left">
              <li><img src="https://avatars1.githubusercontent.com/u/447024?v=3&s=460" class="img-circle" width="40" height="40" alt="Project contributor"><span class="glyphicon glyphicon-flag OK-project-leader-badge" title="Project leader"></span></li>
              <li><img src="https://avatars1.githubusercontent.com/u/4423980?v=3&s=460" class="img-circle" width="40" height="40" alt="Project contributor"></li>
              <li><img src="https://avatars1.githubusercontent.com/u/9424270?v=3&s=460" class="img-circle" width="40" height="40" alt="Project contributor"></li>
              <li><img src="https://avatars2.githubusercontent.com/u/5474002?v=3&s=460" class="img-circle" width="40" height="40" alt="Project contributor"></li>
            </ul>
        </a>
        </section>          
    </div>
</div>        
        
        
<!-- project definition -->
<div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 OK-project-definition-card OK-pdc-goals"> 
    	<span class="glyphicon glyphicon-send OK-pdcard-glyphicon"></span> 
      	<h3>Goals</h3>
        <p>The Community Capital Fund and our partners have realized through our work that a map of existing community-based projects does not exist and that often, neighborhood associations and organizations are not aware of projects/programs occurring near them, and often do not know of other organizations doing similar work. CCF believes that neighborhoods that partner with and learn from others doing similar work will have greater capacity, opportunities, and resources to carry out their work; will have a greater impact on community development and revitalization than when working in a silo; and will have a more sustained, long-term impact. </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 OK-project-definition-card OK-pdc-audience"> 
    	<span class="glyphicon glyphicon-user OK-pdcard-glyphicon"></span>        
    	<h3>Target Audience</h3>
        <p>
		</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 OK-project-definition-card OK-project-definition-card-tall OK-pdc-story pull-right"> 
    	<span class="glyphicon glyphicon-list-alt OK-pdcard-glyphicon"></span>        
     	<h3>User Stories</h3>
        <p></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 OK-project-definition-card OK-pdc-maintenance"> 
    	<span class="glyphicon glyphicon-wrench OK-pdcard-glyphicon"></span>     
      	<h3>Maintenance Plan</h3> 
        <p>
        </p>        
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 OK-project-definition-card OK-pdc-blockers"> 
    	<span class="glyphicon glyphicon-save OK-pdcard-glyphicon OK-rotate-270-clockwise"></span>     
    	<h3>Potential Blockers</h3>
        <p>
        </p>
    </div>
    </div>
<!-- code cards -->
    <div class="row"> 
    <h2>Development</h2>  
    <div class="col-xs-12 col-sm-12 col-md-4 OK-project-definition-card OK-pdc-progress"> 
    	<span class="glyphicon glyphicon-tasks OK-pdcard-glyphicon OK-rotate-180-clockwise"></span>        
     	<h3>Progress</h3>
              <p><span class="OK-tag bg-gray">Definition</span> 
                  <span class="bg-white">research</span> 
                  <span class="bg-white">workflow</span>
                  <span class="bg-white">information architecture</span>
                  <span class="bg-white">wireframes</span> 
                  <span class="bg-yellow">visual design</span> 
               </p>
               <p><span class="OK-tag bg-gray">Code</span> 
                  <span class="bg-yellow">HTML/CSS</span>
                  <span class="bg-yellow">Javascript</span>  
               </p>
               <p><span class="OK-tag bg-gray">Data</span> 
                  <span class="bg-white">data entry</span> 
               </p>
               <p><span class="OK-tag bg-gray">Analysis</span> 
                  <span class="bg-yellow">data analytics</span> 
              </p>
              <hr />
              <p><span class="bg-white">done</span> <span class="bg-yellow">in the works</span></p>
<!-- project on hold banner (hidden for active projects
		<p class="OK-project-onhold-message">On Hold<br>
		Reason: to demonstrate On Hold banner</p> 
 --> 
    </div>    
    
    <div class="col-xs-12 col-sm-12 col-md-4 OK-project-definition-card OK-pdc-help"> 
    	<span class="glyphicon glyphicon-fire OK-pdcard-glyphicon"></span>        
     	<h3>Help Wanted</h3> 
                <p><a href="https://github.com/codeforkansascity/civic-project-mapping/issues/58">Organizations with multiple locations, what is the best way to input and display.</a></p>
                <p><a href="https://github.com/codeforkansascity/civic-project-mapping/issues/56">When there are to many pins on the map, cluster them. </a></p>
                <p><a href="https://github.com/codeforkansascity/civic-project-mapping/issues/54">Consider BootLeaf</a></p>
                <p><a href="https://github.com/codeforkansascity/civic-project-mapping/issues/52">Make it easier to change the Question Labels </a></p>
                <p><a href="https://github.com/codeforkansascity/civic-project-mapping/issues/31">Test usage on phones </a></p>
                <p><a href="https://github.com/codeforkansascity/civic-project-mapping/issues/29">Search by project name</a></p>
                <p><a href="https://github.com/codeforkansascity/civic-project-mapping/issues/27">Usability/Interaction Design/Visual Design/Information Architecture </a></p>
                <p><a href="https://github.com/codeforkansascity/civic-project-mapping/issues/26">Update About page</a></p>
                <p><a href="https://github.com/codeforkansascity/civic-project-mapping/issues/24">Add neighborhood names on the map. </a></p>
                <p><a href="https://github.com/codeforkansascity/civic-project-mapping/issues/20">satellite/earth view/street view</a></p>
                <p><a href="https://github.com/codeforkansascity/civic-project-mapping/issues/14">Add a project detail page</a></p>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-4 OK-project-definition-card OK-pdc-code"> 
    	<span class="glyphicon  OK-pdcard-glyphicon">&lt;/&gt;</span>        
     	<h3>Code used so far</h3>
        <p>Javascript, HTML, CSS        
		</p>
    </div>    
    
	</div>
</div>