<ul class="list-unstyled OK-btn-edit-project">
   <li><a href="https://docs.google.com/forms/d/1e1Ne69Dw7Pooicb9dTOEH49KvjQv1_x2F9q8tr27loI/viewform">Edit Project Description</a></li>
</ul>
<header class="container">
    <div class="row">
      <div class="col-xs-3 col-lg-2">
        <img class="OK-logo" src="images/CfA_logo_132x53.png" width="132" height="53" alt="Code for America ">
        <br><br>
        <button type="button" onClick="location.href='index.html'" class="btn btn-primary btn-xs">Back to Projects Hub</button>
      </div>
      <div class="col-xs-9 col-lg-6">
		<span class="OK-project-tag">project:</span>
        <h1>Projects <br/>
        <small>and where you can help</small> 
        </h1>  
        <ul class="list-inline list-unstyled">
            <!-- project metadata -->
          <li class="OK-tag bg-CfA" title="Civic category">Code for America Brigade Tool</li>
          <li class="OK-tag bg-gray" title="Platform">Web App</li>
          <li class="OK-tag bg-lightgray" title="Link to online product">Online: <a href="http://codeforkc.org/Code-for-America-Projects-Hub/prototype/index.html">Prototype</a></li>
        </ul>  
      </div>
    </div>
</header>

<div ng-controller="projectCtrl" ng-include="'views/project/preview.html'"></div>
<div ng-controller="projectCtrl" ng-include="'views/project/socialbadges.html'"></div>
<div ng-controller="projectCtrl" ng-include="'views/project/info.html'"></div>

<div ng-include="'views/static/footer.html'"></div>